html, body{
    height: 80%;
    padding: 0;
    margin: 0;
    background-color: lightgray;
    font-family: “Cormorant Garamond”, serif;
    
}

/* Navbar */
.navbar {
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-item .nav-link:hover {
    color: maroon;
}

.navbar-brand {
    background-color: maroon;
    padding: 15px 20px;
 
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover {
    color: white;
}

.narbar-nav {
    justify-content: center;
}

.navbar-nav .nav-link {
    padding: 0 .5rem;
}

.nav-item{
    border-right: 1px solid lightgray;
}

.nav-item:last-child {
    border-right: none;
}

a.nav-item.nav-link:hover{
    color: maroon;
}

/* main */
.content-box {
    background-color: white;
    padding: 20px;
}
h1 {
    color: maroon;
    border-bottom: 3px solid lightgray;
    margin-bottom: 1rem;
    padding-bottom: 10px;
    font-family: “Cormorant Garamond”, serif;
}

/* Portfolio */
.pimages .col-lg-6 {
    padding-bottom: 20px;
}
.porttext {
    position: absolute;
    bottom: 80px;
    height: 40px;
    background-color: maroon;
    color: white;
    width: 200px;
    text-align: center;
    padding-top: 8px;
    
}
.pimages .img-fluid {
    height: 280px;
    width: 200px;
    border-style: solid;
    border-color:maroon;
    border-width: thin;
}

.porttext:visited {
    background-color: white;
}

a:link {
    color:white;
}
a:visited {
    color: white;
}

.card-text a:visited {
    color: grey;
}

.card-text a:link {
    color: grey;
}

.card-text a:hover {
    color: maroon;
}


/* footer */
.wrapper {
    min-height: 100%;
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    border-top: maroon 5px solid;
    position: relative;
    bottom: 0;
    background-color: grey;
    color: lightgrey;
    width: 100%;
}

/* .footer .footer-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    background-color: darkgrey;
    color: black;
    padding-top: 20px;
    width: 100%;
} */

.footer h2 {
    font-size: 10px;
}




/* contact css */
form .form-group {
    width: 100%;
    padding-left: 15px;
}
.btn {
    color: white;
}

/* .LI-profile-badge {
    padding-top: 20px;
} */


/* media */
@media (max-width: 992px) {
    .navbar .container-lg,
    .navbar-brand{
        display: block;
    }

    .ml-auto,
    .navbar-brand {
        justify-content: center;
        text-align: center;
        margin-right: 0;
    }
    .narbar {
        padding: 0;
    }
    .navbar-nav {
        flex-direction: row;
    }
    .ml-auto {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    p {
        margin-top: 6px;
    }

/* media contact */

/* media portfolio */
    .img-fluid {
        height: auto;
    }
    
}   

@media (max-width: 768px) {
    .LI-profile-badge {
    padding-top: 15px;
    }
}